.menu {
    height: 45px;
    line-height: 45px;
    background: rgb(22, 185, 131)
}

.brand {
    width: 100px;
    background: red;
    font-weight: 800;
    padding-left: 30px;
    float: left;
}

.links {
    width: calc(101% - 100);
    float: left;
    a {
        text-decoration: none;
        margin-left: 12px;
        color: #333
    }
}

// .menu {
//     height: 45px;
//     line-height: 45px;
//     background: #dee;
//     .nav-brand {
//         font-weight: 800;
//         padding-left: 30px;
//         width: 100px;
//         float: left;
//         background: red;
//     }
//     .nav-items {
//         width: calc(100% - 130px);
//         float: left;
//         background: green;
//         a {
//             margin-left: 12px;
//             color: #333 !important;
//             text-decoration: none;
//         }
//     }
// }